{% extends '_base.html' %}
{% load static %}
{% block title %}<title>{{ post.title }}</title>{% endblock title %}
{% block meta_description %}
    <meta name="description" content="{{ post.title }}">
{% endblock meta_description %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ post.title|escapejs }}",
  "description": "{{ post.clean_excerpt|truncatechars:250|escapejs }}",
  {% if post.image %}
  "image": "https://cubangrooveperu.com{{ post.image.url }}",
  {% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ post.author.get_full_name|default:'Cuban Groove'|escapejs }}",
    "url": "https://cubangrooveperu.com/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Cuban Groove",
    "logo": {
      "@type": "ImageObject",
      "url": "https://cubangrooveperu.com/static/img/logos/logo_desk.webp"
    }
  },
  "datePublished": "{{ post.published_date|date:'Y-m-d' }}T00:00:00-05:00",
  "dateModified": "{{ post.published_date|date:'Y-m-d' }}T00:00:00-05:00",
  "articleSection": "{% if post.location == 'miraflores' %}Salsa en Miraflores{% elif post.location == 'surco' %}Salsa en Surco{% elif post.location == 'sanisidro' %}Salsa en San Isidro{% elif post.location == 'lince' %}Salsa en Lince{% else %}Blog de Salsa Cubana{% endif %}",
  "keywords": "salsa cubana, clases de baile, academia de salsa, danza, timba, afro cubano, cuban groove, {{ post.location|default:'Lima' }}",
  "inLanguage": "es-PE",
  "wordCount": "{{ post.content|striptags|wordcount }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://cubangrooveperu.com{% if post.location != 'general' %}/clases-de-salsa-en-{{ post.location }}/{% else %}/blog/{% endif %}{{ post.slug }}/"
  }
}
</script>
{% endblock structured_data %}





{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>{{ post.title }}</h1>
                <p class="text-muted">Publicado el {{ post.published_date|date:"F j, Y" }}</p>
                <img src="{{ post.image.url }}" class="img-fluid mb-4" alt="{{ post.title }} - Imagen destacada"  title="{{ post.title }} - Cuban Groove" loading="lazy">
                <div class="rich-text">
                    {{ post.content|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
