{% extends '_base.html' %}
{% load static %}
{% block title %}<title>{{ post.title }}</title>{% endblock title %}
{% block meta_description %}
    <meta name="description" content="{{ post.title }}">
{% endblock meta_description %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>{{ post.title }}</h1>
                <p class="text-muted">Publicado el {{ post.published_date|date:"F j, Y" }}</p>
                <img src="{{ post.image.url }}" class="img-fluid mb-4" alt="{{ post.title }} - Imagen destacada" loading="lazy">
                <div class="rich-text">
                    {{ post.content|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
