<!DOCTYPE html>
{% load static %}
<html lang="es-PE">

  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MZQLV2CB');</script>
    <!-- End Google Tag Manager -->


    
    <meta charset="utf-8">
    <title>{% block title %}Cuban Groove | Clases de Baile{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Meta Keywords -->
    <meta name="keywords" content="Clases de Salsa, Clases de Salsa en Lima, Clases de Salsa en Miraflores, Clases de Salsa en Surco, Clases de Salsa en San Isidro, Clases de Salsa en Lince, Clases de Baile, Clases de Baile en Miraflores, Clases de Baile en Surco, Clases de Baile en San Isidro, Clases de Baile en Lince, Academia de Baile en Surco, Academia de Baile en San Isidro, Academia de Baile en Lince, Academia de Baile en La Victoria, Escuela de Baile en Lima, Ritmos Cubanos, Danza Latina, Timba Cubana, Salsa Cubana">

    <!-- Meta Description -->
    <meta name="description" content="Aprende Salsa y Baile en Lima con Cuban Groove. Ofrecemos clases en Miraflores, Surco, San Isidro y Lince. Descubre ritmos cubanos como salsa cubana, reparto y rumba. ¡Transforma tu estilo de baile con nosotros!">
    <meta name="author" content="Cuban Groove">
    <meta name="robots" content="index, follow">


    <link rel="alternate" hreflang="es-PE" href="https://cubangrooveperu.com" />
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    

    <!-- Google Web Fonts -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->

    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logos/favicon.ico' %}" type="image/x-icon">
    

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "DanceSchool",
          "name": "Cuban Groove Peru",
          "url": "https://cubangrooveperu.com",
          "logo": "https://cubangrooveperu.com/static/img/logos/logo_desk.png",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Lima",
            "addressRegion": "Lima",
            "postalCode": "15001",
            "addressCountry": "PE"
          },
          "telephone": "+51 123 456 789",
          "priceRange": "$$",
          "description": "Cuban Groove ofrece clases de Salsa y Timba en Lima, donde aprenderás ritmos afrocubanos y otros géneros como son, chachachá, rumba y reguetón cubano.",
          "openingHours": [
            "Mo-Fr 09:00-23:00",
            "Sa-Su 09:00-22:00"
          ],
          "sameAs": [
            "https://instagram.com/cubangroove",
            "https://instagram.com/luxecoronado"
          ]
        }
    </script>
    
    <!-- Google tag (gtag.js) -->
    <!-- Google tag (gtag.js) -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11491332295">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-11491332295');
    </script>


  </head>


  <body>
    <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZQLV2CB"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

      <!-- Spinner Start -->
      <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
      </div>
      <!-- Spinner End -->
  
  
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
          <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary">
                <img src="{% static 'img/logos/logo_desk.png' %}" style="width: 200px; height: auto;" alt="Clases de Salsa en Lima">
            </h2>
          </a>
          <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav ms-auto p-4 p-lg-0">
                  <a href="{% url 'home' %}" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Inicio</a>
                  <a href="{% url 'courses_group' %}" class="nav-item nav-link {% if 'courses' in request.path %}active{% endif %}">Cursos de Baile</a>
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle {% if 'instructor' in request.path %}active{% endif %}" data-bs-toggle="dropdown">Nuestro Profesor</a>
                      <div class="dropdown-menu fade-down m-0">
                        {% for instructor in instructors %}
                          <a href="{% url 'instructor_detail' instructor.slug %}" class="dropdown-item">{{ instructor.name }}</a>
                        {% endfor %}
                      </div>
                  </div>                  
                  <a href="{% url 'contact' %}" class="nav-item nav-link {% if 'contact' in request.path %}active{% endif %}">Contacto</a>
                  <a href="{% url 'post_list' %}" class="nav-item nav-link {% if 'post_list' in request.path %}active{% endif %}">Blog</a>
              </div>
              <a href="" id="btn_home_menu_free_class" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"  style="background-color: #ff6a09;color: white; align-items: center;" data-bs-toggle="modal" data-bs-target="#exampleModal">Clase Gratis<i class="fa fa-arrow-right ms-3"></i></a>
          </div>
      </nav>
      <!-- Navbar End -->

      {% block content %}
      {% endblock content %}

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-3 col-md-6 text-center">
                        <h4 class="text-white mb-3">Contacto</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Lima, PERU</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+51 991 337 159</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>cubangroove.pe@gmail.com</p>
                        <div class="d-flex mb-5 justify-content-center">
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/luxecoronado/" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/muevetecuba" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.tiktok.com/@luxecoronado" target="_blank"><i class="fab fa-tiktok"></i></a>
                            <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/@CubanGroovePeru" target="_blank"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    
                    <!-- Hipervínculos SEO -->
                    <div class="col-lg-3 col-md-6 text-center">
                        <h4 class="text-white mb-3">Clases de Baile</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Salsa</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Salsa en Lima</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Salsa en Miraflores</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Salsa en Surco</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Salsa en San Isidro</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Salsa en Lince</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 text-center">
                        <h4 class="text-white mb-3">Academias y Cursos</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Baile</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Baile en Miraflores</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Baile en Surco</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Baile en San Isidro</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Clases de Baile en Lince</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 text-center">
                        <h4 class="text-white mb-3">Academias de Baile</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'courses_group' %}" class="text-white">Academia de Baile en Surco</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Academia de Baile en San Isidro</a></li>
                            <li><a href="{% url 'courses_group' %}" class="text-white">Academia de Baile en Lince</a></li>
                            <li><a hhref="{% url 'courses_group' %}" class="text-white">Academia de Baile en La Victoria</a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-center text-white text-rights mt-4">
                    <div>
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        Cuban Groove. Todos los derechos reservados.
                    </div>
                    <div>Diseñado por PMC2.</div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


       <!-- Modal start-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              

                <div class="modal-content">
                    <!-- Botón de cierre -->
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                    
                    <div class="modal-body">
                        <form id="leadForm" style="border: 2px solid #ddd; border-radius: 15px; padding: 20px;">
                            {% csrf_token %}
                            <input type="hidden" id="course_of_interest" name="course_of_interest">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <h4 class="text-dark">Contáctate y obten un descuento por el curso de baile</h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" name="first_name" placeholder="Tu Nombre" required>
                                        <label for="name">(*) Nombre</label>
                                        <div class="invalid-feedback">
                                            Por favor, introduce tu nombre.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Tu Apellido" required>
                                        <label for="last_name">(*) Apellido</label>
                                        <div class="invalid-feedback">
                                            Por favor, introduce tu apellido.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Tu Correo" required>
                                        <label for="email">(*) Correo</label>
                                        <div class="invalid-feedback">
                                            Por favor, introduce un correo electrónico válido.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" 
                                            class="form-control" 
                                            id="phone_number" 
                                            name="phone_number" 
                                            placeholder="Tu Whatsapp" 
                                            required 
                                            pattern="^\+?[0-9]{9,}$" 
                                            title="Solo se permiten números y, opcionalmente, un '+' al inicio.">
                                

                                        <label for="phone_number">(*) Whatsapp</label>
                                        <div class="invalid-feedback">
                                            Por favor, introduce un número de WhatsApp válido.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Deja un mensaje aqui" id="message" name="notes" style="height: 120px" required></textarea>
                                        <label for="message">Consulta</label>
                                        <div class="invalid-feedback">
                                            Por favor, deja tu consulta.
                                        </div>
                                    </div>
                                </div>
                                <!-- Términos y condiciones -->
                                <div class="col-12">
                                    <p class="small text-muted">
                                        Al hacer clic en "Registrar", aceptas nuestros <a href="{% url 'terms_conditions' %}">Términos y Condiciones</a> y <a href="{% url 'privacy_policies' %}">Políticas de Privacidad</a>.
                                    </p>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-success w-100 py-3" type="button" id="submitForm">
                                        <i class="fab fa-whatsapp i-size-contactar"></i>
                                        Contactar por WhatsApp
                                    </button>
                                    <button type="button" id="closeModalButton" class="btn btn-secondary d-none" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                        <div id="processingOverlay" class="position-absolute top-0 start-0 w-100 h-100 d-none d-flex align-items-center justify-content-center" style="background-color: rgba(255, 255, 255, 0.8); z-index: 10;">
                            <div class="text-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <span class="d-block mt-2">Procesando su solicitud, por favor espere...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->


        <!-- Modal start-->
        <div class="modal" id="successModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Registro Exitoso</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Hemos recibido tus datos y te contactarán a la brevedad posible..</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>
        <!-- Modal end -->

      <!-- Back to Top -->
        <div class="whatsapp-icon">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
        </div>


      <!-- JavaScript Libraries -->

      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'lib/wow/wow.min.js' %}"></script>
      <script src="{% static 'lib/easing/easing.min.js' %}"></script>
      <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
      <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>


      <!-- Template Javascript -->
      <script src="{% static 'js/main.js' %}"></script>
      <script>
        var exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-course')
            var messageField = document.getElementById('message');
            var courseField = document.getElementById('course_of_interest');
            if (recipient) {
                messageField.value = "Quiero informes y promociones sobre el Curso " + recipient;
                courseField.value = recipient; // Asigna el valor al campo oculto
            } else {
                messageField.value = "Quiero informes y promociones sobre los cursos.";
            }


        })


        document.getElementById('submitForm').addEventListener('click', function () {
            var form = document.getElementById('leadForm');
            var processingMessage = document.getElementById('processingMessage');
            if (form.checkValidity()) {    
                var formData = new FormData(document.getElementById('leadForm'));
                processingOverlay.classList.remove('d-none');
                fetch('/create-lead/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    }
                }).then(response => response.json()).then(data => {
                    if (data.success) {
                        // Cerrar el primer modal
                        document.getElementById('closeModalButton').click();
                        // Mostrar el segundo modal
                        var successModal = new bootstrap.Modal(document.getElementById('successModal'));
                        successModal.show();

                        // Preparar y abrir WhatsApp
                        var firstName = document.getElementById('name').value;
                        var lastName = document.getElementById('last_name').value;
                        var courseOfInterest = document.getElementById('course_of_interest').value;
                        var notes = document.getElementById('message').value;

                        if (courseOfInterest) {
                            var whatsappMessage = `Hola, me llamo ${firstName} ${lastName}. Estoy interesado en el curso: ${courseOfInterest}. ${notes}`;
                        } else {
                            var whatsappMessage = `Hola, me llamo ${firstName} ${lastName}. Estoy interesado en los cursos. ${notes}`;
                        }

                        var whatsappNumber = '51991337159'; // Reemplaza con el número de teléfono de WhatsApp deseado
                        var whatsappURL = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(whatsappMessage)}`;
                        console.log(whatsappURL)
                        window.open(whatsappURL, '_blank');


                    } else {
                        alert('Error al crear el lead');
                    }
                }).catch(error => {
                    processingOverlay.classList.add('d-none'); // Ocultar el overlay
                    console.error('Error:', error);
                    alert('Ocurrió un error al enviar el formulario');
                }).finally(() => {
                    // Ocultar mensaje de procesamiento y habilitar botón
                    processingOverlay.classList.add('d-none');

                });
            } else {
                form.classList.add('was-validated');
            }
        });

    </script>

      {% block javascript %}
      
      {% endblock javascript %}

  </body>

</html>