{% extends '_base.html' %}
{% load static %}

{% block content %}
    
    <!-- Carousel Start -->
    {% if list_course_banner_top %}
        <div class="container-fluid p-0 mb-5">
            <div class="owl-carousel header-carousel position-relative">
                {% for course in list_course_banner_top %}
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="{{ course.image_banner_top.url }}" alt="Curso destacado de baile en Lima">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-sm-10 col-lg-8">
                                        <h5 class="color-oran text-uppercase mb-3 animated slideInDown">Curso destacado</h5>
                                        <h2 class="display-3 text-white animated slideInDown custom-h1">{{ course.title }}</h2>
                                        <div class="custom-content">
                                            <p class="text-white mb-4 pb-2">{{ course.body | safe | truncatewords:30 }}</p>
                                        </div>
                                        <a href="{% url 'courses_detail' course.slug %}" id="btn_home_bt_read" class="btn btn-orange py-md-3 px-md-5 me-3 animated slideInLeft" >Leer Mas</a>
                                        <a href="" id="btn_home_bt_contact" class="btn btn-light py-md-3 px-md-5 animated slideInRight" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-course="{{ course.title }}">Contactar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <!-- Carousel End -->

    <!-- Courses might Like -->
    {% if list_course_you_might_like %}
        <div class="container-xxl mb-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="section-title bg-white text-center px-3 color-oran custom-h6">Cursos de Baile para Adultos</h1>
                    <p class="custom-h2 mb-2 color-cafe">¿Sientes que tus pasos no se ven fluidos o elegantes en la pista de baile?</p>
                    <p>En Cuban Groove te asesoramos para encontrar el curso de baile ideal. Aprenderas a bailar mientras te integras a una comunidad salsera y timbera. Practicaras lo aprendido en diferentes eventos sociales de baile.. ¡Descubre más sobre nuestros cursos!</p>

                </div>
                <!-- list Courses Start -->
                <div class="row g-4 justify-content-center">
                    {% for course in list_course_you_might_like %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="course-item bg-light">
                                <div class="position-relative overflow-hidden d-flex align-items-center">
                                    <img class="img-fluid" src="{{ course.image.url }}" alt="{{ course.title }} - Curso de Baile en Cuban Groove" loading="lazy">
                                    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                        <a href="{% url 'courses_detail' course.slug %}" id="btn_home_popular_read" class="flex-shrink-0 btn btn-sm btn-warning px-3 border-end" style="border-radius: 30px 0 0 30px;">Leer Más</a>
                                        <a href="#" class="flex-shrink-0 btn btn-sm btn-warning px-3" id="btn_home_popular_contact" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-course="{{ course.title }}" style="border-radius: 0 30px 30px 0;">Contactar</a>
                                    </div>
                                    <div class="infoPrice">
                                        <strong>S/.{{ course.price }}</strong>
                                    </div>
                                </div>
                                <a href="{% url 'courses_detail' course.slug %}" class="card-link">
                                    <div class="text-center p-4 pb-0 border border-secondary rounded">
                                        <h2 class="mb-0 custom-h5">{{ course.title }}</h2>
                                        <div class="mb-0">
                                            <small class="fa fa-star color-oran"></small>
                                            <small>{{ course.schedule }}</small>
                                            <small class="fa fa-star color-oran"></small>
                                        </div>
                                        <h2 class="mb-2 h2-small">{{ course.instructor }}</h2>
                                        <h6 class="card-title">Lugar</h6>
                                        <h2 class="h2-small">{{ course.district | safe }}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- list Courses End -->
            </div>
        </div>
    {% endif %}
    <!-- Courses might like End -->
   
    <!-- Team Start -->
    {% if instructors %}
        <div id="instructors" class="container-xxl mb-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center px-3 color-oran">Instructor</h6>
                    <h2 class="custom-h2 mb-2 color-cafe"">Instructor Experto</h2>
                </div>
                <div class="row g-4 justify-content-center">
                    {% for instructor in instructors %}
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item bg-light">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="{{ instructor.image.url }}" alt="{{ instructor.name }}" style="width: 100%; height: auto;" loading="lazy">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                        <a class="btn btn-sm-square btn-orange mx-1" target="_blank" href="{{ instructor.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-sm-square btn-orange mx-1" target="_blank" href="{{ instructor.tiktok }}"><i class="fab fa-tiktok"></i></a>
                                        <a class="btn btn-sm-square btn-orange mx-1" target="_blank" href="{{ instructor.instagram }}"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="text-center p-4">
                                    <h2 class="mb-0 custom-h5">{{ instructor.name }}</h2>
                                    <small>{{ instructor.specialty }}</small>
                                    <div>
                                        <a class="btn btn-orange py-2 px-4 mt-2" id="btn_home_instructor_courses" href="{% url 'instructor_detail' instructor.slug %}">Mis Cursos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Team End -->
    
    
    
    {% if list_testimony %}
        <!-- Testimonial Start -->
        <div class="container-xxl mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h6 class="section-title bg-white text-center color-oran px-3">Testimonios </h6>
                    <h2 class="custom-h2 mb-2 color-cafe">Nuestros estudiantes dicen!</h2>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    {% for testimony in list_testimony %}
                        <div class="testimonial-item text-center">
                            <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ testimony.imagen.url }}" style="width: 80px; height: 80px;" alt="testimonio de clases de baile" loading="lazy">
                            <h5 class="mb-0">{{ testimony.name }}</h5>
                            <p>{{ testimony.profession }}</p>
                            <div class="testimonial-text bg-light text-center p-4">
                                <p class="mb-0">
                                    {{ testimony.description | safe }}    
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    {% endif %}
    

{% endblock content %}
