{% extends '_base.html' %}
{% load static %}
{% block title %}Cursos | Talleres{% endblock title %}

{% block content %}
    <!-- Detail Course and call to action -->
    <div class="container-xxl py-5 category">
        <div class="container">

            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="row align-items-start">
                    <div class="col" style="text-align: left;">
                        <p style="margin-bottom: -10px;"><h2 class="text-primary">Curso {{ course.title }}</h2></p>
                    </div>
                    <div class="col" style="text-align: right;">
                        <h4 style="display: inline-block; margin-right: 10px;">Precio:</h4>
                        <h2 style="display: inline-block;" class="text-primary">S/. {{ course.price }}</h2>
                    </div>
                </div><div class="row align-items-start">
                    <div class="col" style="text-align: left;">
                        <p style="margin-top: -15px; margin-left: 10px;"><h7> {{ course.schedule }}</h7></p>
                        <p style="margin-top: -25px; margin-left: 10px;"><h7> {{ course.place | safe }}</h7></p>
                    </div>
                </div>
            </div>


            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                               
                                <video class="img-fluid" width="800" height="300" controls>
                                    <source src="{{ course.video.url }}" type="video/mp4">
                                </video>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{{ course.image_fiz.url }}" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{{ course.image_fid.url }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            
                    
                <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form style="border: 2px solid #ddd; border-radius: 15px; padding: 20px;">
                        <div class="row g-3">

                            <div class="col-12">
                                <div class="form-floating">
                                    <h4 class="text-dark">Contáctate y obten un descuento por el curso de baile</h4>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">(*) Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">(*) Mail</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 120px"></textarea>
                                    <label for="message">(*) Consulta</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">(*) Tu Whatsapp </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">(*) 5 + 1</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success w-100 py-3" type="submit">
                                    <i class="fab fa-whatsapp i-size-contactar"></i>
                                    Contactar por WhatsApp
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                
            </div>
        </div>
    </div>
    <!-- Detail Course and call to action -->

    <!-- About Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="mb-4">Descripcion del Curso</h2>
                    <p class="mb-4">{{ course.body | safe }}</p>
                    <div class="row gy-2 gx-4 mb-4">
                        {% for feature in course.feature.all %}
                            <div class="col-sm-6">
                                <h2 class="mb-0" style="font-size: 1rem; font-weight: 400; font-family: inherit; color: inherit;">
                                    <i class="fa fa-arrow-right text-primary me-2"></i>{{ feature.description }}
                                </h2>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    {% if list_course_you_might_like %}
    <!-- Courses might Like -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h4 class="section-title bg-white text-center text-primary px-3">Otros cursos de baile que te pueden gustar </h4>
                </div>
                
                <!-- list Courses Start -->
                <div class="row g-4 justify-content-center">
                    {% for course in list_course_you_might_like %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="course-item bg-light">
                                <div class="position-relative overflow-hidden d-flex align-items-center">
                                    <img class="img-fluid" src="{{ course.image.url }}" alt="">
                                    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                        <a href="{% url 'courses_detail' course.slug %}" class="flex-shrink-0 btn btn-sm btn-warning px-3 border-end" style="border-radius: 30px 0 0 30px;">Leer Mas</a>
                                        <a href="#" class="flex-shrink-0 btn btn-sm btn-warning px-3" style="border-radius: 0 30px 30px 0;">Obten un Descuento</a>
                                    </div>
                                    <div class="infoPrice">
                                        <strong>S/.{{ course.price }}</strong>
                                    </div>
                                </div>
                                <a href="{% url 'courses_detail' course.slug %}" class="card-link">
                                    <div class="text-center p-4 pb-0 border border-secondary  rounded">
                                        <h5 class="mb-0">{{ course.title }}</h5>
                                        <div class="mb-0">
                                            <small class="fa fa-star text-primary"></small>
                                            <small>{{ course.schedule }}</small>
                                            <small class="fa fa-star text-primary"></small>
                                        </div>
                                        <div class="mb-2"><small>{{ course.instructor }}</small></div>
                                        <h6 class="card-title">Lugar</h6>
                                        <small class="text-muted">{{ course.district | safe }}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- list Courses End -->
            </div>
        </div>
    {% endif %}
    <!-- Courses might like End -->
    
    {% if list_testimony %}
        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h4 class="section-title bg-white text-center text-primary px-3">Testimonios </h4>
                    <h1 class="mb-3">Nuestros estudiantes dicen!</h1>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    {% for testimony in list_testimony %}
                        <div class="testimonial-item text-center">
                            <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                                <video class="img-fluid"  controls>
                                    <source src="{{ testimony.video.url }}" type="video/mp4">
                                </video>
                            </div>
                            <div class="testimonial-text bg-light text-center p-4">
                                <h5 class="mb-0">{{ testimony.name }}</h5>
                                <p>{{ testimony.profession }}</p>
                                <p class="mb-0">
                                    {{ testimony.description | safe }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    {% endif %}
{% endblock content %}
