{% extends '_base.html' %}
{% load static %}
{% block title %}Cursos | Clases de Baile{% endblock title %}

{% block content %}
    <!-- Detail Course and call to action -->
    <div class="container-xxl py-3 category">
        <div class="container">

            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="row align-items-center">
                    <div class="col-6 col-md-6 text-left">
                        <h1 class="custom-h2 color-oran" style="text-align: left; white-space: nowrap;">{{ course.title }}</h1>
                    </div>
                    <div class="col-6 col-md-6 text-right">
                        <h2 class="custom-h2 color-oran" style="text-align: right; white-space: nowrap;">S/. {{ course.price }}</h2>
                    </div>                    
                    <div class="col-6 col-md-6 text-left">
                        <p class="custom-h2" style="text-align: left; white-space: nowrap;">{{ course.schedule }}</p>
                    </div>                    
                    <div class="col-6 col-md-6 text-right">
                        <p class="custom-h2" style="text-align: right; white-space: nowrap;">{{ course.place | safe }}</p>
                    </div>
                </div>

            </div>


            <div class="row g-3">
                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">

                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            {% if course.video_url %}
                                <iframe id="myVideo" width="100%" height="300" src="{{ course.video_url }}?rel=0&showinfo=0&controls=0" frameborder="0" enable="accelerómetro; cifrado- media; giroscopio;" allowfullscreen> </iframe>
                            {% else %}
                                <p>No video available</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{{ course.image_fiz.url }}" alt="">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="{{ course.image_fid.url }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            
                    
                <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form id="leadForm_curso_detail" style="border: 2px solid #ddd; border-radius: 15px; padding: 20px;">
                        {% csrf_token %}
                        <input type="hidden" id="course_of_interest" name="course_of_interest">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <h4 class="text-dark">Contáctate y obten un descuento por el curso de baile</h4>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="first_name" placeholder="Tu Nombre" required>
                                    <label for="name">(*) Nombre</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce tu nombre.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Tu Apellido" required>
                                    <label for="last_name">(*) Apellido</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce tu apellido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Tu Correo" required>
                                    <label for="email">(*) Correo</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce un correo electrónico válido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Tu Whatsapp" required>
                                    <label for="phone_number">(*) Whatsapp</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce tu número de WhatsApp.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Deja un mensaje aqui" id="message" name="notes" style="height: 120px" required></textarea>
                                    <label for="message">Consulta</label>
                                    <div class="invalid-feedback">
                                        Por favor, deja tu consulta.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success w-100 py-3" type="button" id="submitForm_curso_detail">
                                    <i class="fab fa-whatsapp i-size-contactar"></i>
                                    Contactar por WhatsApp
                                </button>
                                <button type="button" id="closeModalButton" class="btn btn-secondary d-none" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                    <div id="thankYouMessage_curso_detail" class="d-none text-center" style="border: 2px solid #ddd; border-radius: 15px; padding: 20px;"> 
                        <h4 class="text-success">¡Gracias por contactarnos!</h4>
                        <p>Hemos recibido tus datos. Pronto te contactaremos para brindarte más información.</p>
                    </div>
                    <div id="processingOverlay_curso_detail" class="position-fixed top-0 start-0 w-100 h-100 d-none d-flex align-items-center justify-content-center" style="background-color: rgba(255, 255, 255, 0.8); z-index: 1050;">
                        <div class="text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span class="d-block mt-2">Procesando su solicitud, por favor espere...</span>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <!-- Detail Course and call to action -->

    <!-- About Start -->
    <div class="container-xxl">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="mb-4 color-cafe">Descripcion del Curso</h2>
                    <p class="mb-4">{{ course.body | safe }}</p>
                    <div class="row gy-2 gx-4 mb-4">
                        {% for feature in course.feature.all %}
                            <div class="col-sm-6">
                                <h2 class="mb-0" style="font-size: 1rem; font-weight: 400; font-family: inherit; color: inherit;">
                                    <i class="fa fa-arrow-right color-oran me-2"></i>{{ feature.description }}
                                </h2>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    {% if list_course_you_might_like %}
    <!-- Courses might Like -->
        <div class="container-xxl mb-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center px-3 color-oran">Otros cursos similares</h6>
                    <h2 class="custom-h2 mb-2 color-cafe">¡Encuentra tu Curso Perfecto!</h2>
                </div>
                
                <!-- list Courses Start -->
                <div class="row g-4 justify-content-center">
                    {% for course in list_course_you_might_like %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="course-item bg-light">
                                <div class="position-relative overflow-hidden d-flex align-items-center">
                                    <img class="img-fluid" src="{{ course.image.url }}" alt="{{ course.title }} - Curso de Baile en Cuban Groove">
                                    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                        <a href="{% url 'courses_detail' course.slug %}" class="flex-shrink-0 btn btn-sm btn-warning px-3 border-end" style="border-radius: 30px 0 0 30px;">Leer Más</a>
                                        <a href="#" class="flex-shrink-0 btn btn-sm btn-warning px-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-course="{{ course.title }}" style="border-radius: 0 30px 30px 0;">Obten un Descuento</a>
                                    </div>
                                    <div class="infoPrice">
                                        <strong>S/.{{ course.price }}</strong>
                                    </div>
                                </div>
                                <a href="{% url 'courses_detail' course.slug %}" class="card-link">
                                    <div class="text-center p-4 pb-0 border border-secondary rounded">
                                        <h2 class="mb-0 custom-h5">{{ course.title }}</h2>
                                        <div class="mb-0">
                                            <small class="fa fa-star color-oran"></small>
                                            <small>{{ course.schedule }}</small>
                                            <small class="fa fa-star color-oran"></small>
                                        </div>
                                        <h2 class="mb-2 h2-small">{{ course.instructor }}</h2>
                                        <h6 class="card-title">Lugar</h6>
                                        <h2 class="h2-small">{{ course.district | safe }}</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- list Courses End -->
            </div>
        </div>
    {% endif %}
    <!-- Courses might like End -->
    
    {% if list_testimony %}
        <!-- Testimonial Start -->
        <div class="container-xxl mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <h6 class="section-title bg-white text-center px-3 color-oran">Testimonios</h6>
                    <h2 class="custom-h2 mb-5 color-cafe">Nuestros estudiantes dicen!</h2>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    {% for testimony in list_testimony %}
                        <div class="testimonial-item text-center">
                            <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ testimony.imagen.url }}" style="width: 80px; height: 80px;">
                            <h5 class="mb-0">{{ testimony.name }}</h5>
                            <p>{{ testimony.profession }}</p>
                            <div class="testimonial-text bg-light text-center p-4">
                                <p class="mb-0">
                                    {{ testimony.description | safe }}    
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    {% endif %}

{% endblock content %}

{% block javascript %}
<script>

    document.getElementById('submitForm_curso_detail').addEventListener('click', function () {
        var form = document.getElementById('leadForm_curso_detail');
        var processingMessage = document.getElementById('processingMessage_curso_detail');
        var thankYouMessage = document.getElementById('thankYouMessage_curso_detail');
        if (form.checkValidity()) {    
            var formData = new FormData(document.getElementById('leadForm_curso_detail'));
            processingOverlay_curso_detail.classList.remove('d-none');
            fetch('/create-lead/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            }).then(response => response.json()).then(data => {
                if (data.success) {
                    // Ocultar formulario y mostrar mensaje de agradecimiento
                    form.classList.add('d-none');
                    thankYouMessage.classList.remove('d-none');

                    // Preparar y abrir WhatsApp
                    var firstName = document.getElementById('name').value;
                    var lastName = document.getElementById('last_name').value;
                    var notes = document.getElementById('message').value;
                    var whatsappMessage = `Hola, me llamo ${firstName} ${lastName}. Estoy interesado en los cursos. ${notes}`;

                    var whatsappNumber = '51962345841'; // Reemplaza con el número de teléfono de WhatsApp deseado
                    var whatsappURL = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(whatsappMessage)}`;
                    console.log(whatsappURL)
                    window.open(whatsappURL, '_blank');


                } else {
                    alert('Error al crear el lead');
                }
            }).catch(error => {
                processingOverlay_curso_detail.classList.add('d-none'); // Ocultar el overlay
                console.error('Error:', error);
                alert('Ocurrió un error al enviar el formulario');
            }).finally(() => {
                // Ocultar mensaje de procesamiento y habilitar botón
                processingOverlay_curso_detail.classList.add('d-none');

            });
        } else {
            form.classList.add('was-validated');
        }
    });
</script>
{% endblock javascript %}

