{% extends '_base.html' %}
{% load static %}


{% if course.seo_title %}
    {% block title %}
        <title>{{ course.seo_title }}</title>
    {% endblock title %}
{% endif %}


{% if course.meta_description %}
    {% block meta_description %}
        <meta name="description" content="{{ course.meta_description }}">
    {% endblock meta_description %}
{% endif %}


{% if course.meta_keywords %}
    {% block meta_keywords %}
        <meta name="keywords" content="{{ course.meta_keywords }}">
    {% endblock meta_keywords %}
{% endif %}


{% block content %}
    <!-- Detail Course and call to action -->
    <div class="container-xxl py-3 category">
        <div class="container">
            <nav aria-label="breadcrumb" class="mt-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}" 
                            class="color-cafe" 
                            title="Volver a la página principal de Cuban Groove"
                            aria-label="Ir al inicio del sitio Cuban Groove">
                        Inicio
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
                </ol>
            </nav>

            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="row align-items-center">
                    <div class="col-6 col-md-6 text-left">
                        <h1 class="custom-h2 color-oran" style="text-align: left; white-space: nowrap;">{{ course.h1 }}</h1>
                    </div>
                    <div class="col-6 col-md-6 text-right">
                        <p class="custom-h2 color-oran" style="text-align: right; white-space: nowrap;"></p>
                    </div>                    
                </div>

            </div>


            <div class="row g-3">


                <div class="col-lg-7 col-md-6">
                    <div class="row g-3">

                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                                <p class="custom-h2 color-cafe">{{ course.body_title | safe }}</p>
                                <p class="mb-4">{{ course.technical_details | safe }}</p>
                            </div>
                            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="custom-h2 color-cafe">Beneficios de tomar clases de salsa cubana</h2>
                                <p class="mb-4">{{ course.benefits | safe }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            
                

                <div class="col-lg-5 col-md-12 wow fadeInUp d-none d-md-block" data-wow-delay="0.5s">
                    <form id="leadForm_curso_detail" style="border: 2px solid #ddd; border-radius: 15px; padding: 20px;">
                        {% csrf_token %}
                        <input type="hidden" id="course_of_interest" name="course_of_interest">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <p class="custom-h4 text-dark">Solicita más informacion.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="first_name" placeholder="Tu Nombre" required>
                                    <label for="name">(*) Nombre</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce tu nombre.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Tu Apellido" required>
                                    <label for="last_name">(*) Apellido</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce tu apellido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Tu Correo" required>
                                    <label for="email">(*) Correo</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce un correo electrónico válido.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Tu Whatsapp" pattern="^\+?[0-9]{9,}$" required>
                                    <label for="phone_number">(*) Whatsapp</label>
                                    <div class="invalid-feedback">
                                        Por favor, introduce tu número de WhatsApp.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Deja un mensaje aqui" id="message" name="notes" style="height: 120px" required></textarea>
                                    <label for="message">Consulta</label>
                                    <div class="invalid-feedback">
                                        Por favor, deja tu consulta.
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success w-100 py-3" type="button" id="submitForm_curso_detail">
                                    <i class="fab fa-whatsapp i-size-contactar"></i>
                                    Contactar por WhatsApp
                                </button>
                                <button type="button" id="closeModalButton" class="btn btn-secondary d-none" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                    <div id="thankYouMessage_curso_detail" class="d-none text-center" style="border: 2px solid #ddd; border-radius: 15px; padding: 20px;"> 
                        <p class="custom-h4 text-success">¡Gracias por contactarnos!</p>
                        <p>Hemos recibido tus datos. Pronto te contactaremos para brindarte más información.</p>
                    </div>
                    <div id="processingOverlay_curso_detail" class="position-fixed top-0 start-0 w-100 h-100 d-none d-flex align-items-center justify-content-center" style="background-color: rgba(255, 255, 255, 0.8); z-index: 1050;">
                        <div class="text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <span class="d-block mt-2">Procesando su solicitud, por favor espere...</span>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <!-- Detail Course and call to action -->

    

    <!-- Courses might Like -->
    {% if list_course_you_might_like %}
        <div class="container-xxl mt-0 mb-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="section-title bg-white text-center px-3 color-oran custom-h6">Cursos de Baile en {{ course_title_zone }}</h2>
                    <p class="custom-h2 mb-2">Salsa, tecnica de danza, afro y más en un ambiente divertido</p>
                </div>
                <!-- list Courses Start -->
                <div class="row g-4 justify-content-center">
                    {% for course in list_course_you_might_like %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <!-- Envuelve toda la tarjeta en un enlace -->
                            <a href="{% url 'courses_detail' course.slug %}" class="card-link" style="text-decoration: none; color: inherit;" title="{{ course.title }} - Curso de Baile en Cuban Groove">
                                <div class="course-item bg-light">
                                    <div class="position-relative overflow-hidden d-flex align-items-center">
                                        <img class="img-fluid" src="{{ course.image.url }}" alt="{{ course.meta_description }} - Cuban Groove" title="{{ course.title }} - Cuban Groove"  loading="lazy" style="width: 100%; height: 100%; object-fit: cover;">
                                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                            <!-- Botón "Leer Más" -->
                                            <span class="flex-shrink-0 btn btn-sm btn-warning px-3 border-end" style="border-radius: 30px 30px 30px 30px;">
                                                Leer Más
                                            </span>
                                        </div>
                                        <div class="infoPrice">
                                            <strong>S/.{{ course.price }}</strong>
                                        </div>
                                    </div>
                                    <div class="text-center p-4 pb-0 border border-secondary rounded">
                                        <!-- Título del curso -->
                                        <h3 class="mb-0 custom-h5">{{ course.title }}</h3>
                                    
                                        <!-- Horario del curso -->
                                        <div class="mb-0">
                                            <small class="fa fa-star color-oran"></small>
                                            <small>{{ course.schedule }}</small>
                                            <small class="fa fa-star color-oran"></small>
                                        </div>
                                    
                                        <!-- Ubicación -->
                                        <div class="d-flex align-items-center justify-content-center my-2">
                                            <i class="fas fa-map-marker-alt me-2"></i>
                                            <p class="h2-small m-0">{{ course.district | safe }}</p>
                                        </div>
                                    
                                        <!-- Instructor -->
                                        <div class="d-flex align-items-center justify-content-center my-2">
                                            <i class="fas fa-chalkboard-teacher me-2"></i>
                                            <p class="mb-2 h2-small m-0">{{ course.instructor }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <!-- list Courses End -->
            </div>
        </div>
    {% endif %}
    <!-- Courses might like End -->

    
    <!-- About Start -->
    <div class="container-xxl mb-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                    <h2 class="custom-h2 color-cafe">Preguntas Frecuentes sobre las clases de salsa</h2> 

                    <div class="accordion" id="faqAccordion">
                        {% for faq in course.faqs.all %}
                        <div class="accordion-item">
                            <p class="custom-h2 accordion-header" id="heading{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                    {{ faq.question }}
                                </button>
                            </p>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    {{ faq.answer }}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No hay preguntas frecuentes registradas aún.</p>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- About End -->



    
    
    
    {% if list_testimony %}
        <!-- Testimonial Start -->
        <div class="container-xxl mb-3 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center">
                    <p class="section-title bg-white text-center px-3 color-oran custom-h6">Testimonios</p>
                    <p class="custom-h2 mb-2">Nuestros estudiantes dicen!</p>
                </div>
                <div class="owl-carousel testimonial-carousel position-relative">
                    {% for testimony in list_testimony %}
                        <div class="testimonial-item text-center">
                            <p class="custom-h5 mb-0">{{ testimony.name }}</p>
                            {% if testimony.google_url %}
                                <a href="{{ testimony.google_url }}" target="_blank" title="Leer esta reseña de {{ testimony.name }} en Google" rel="noopener noreferrer nofollow">Ver en Google</a>
                            {% endif %}
                            <p>⭐️⭐️⭐️⭐️⭐️</p>
                            <div class="testimonial-text bg-light text-center p-4">
                                <p class="mb-0">
                                    {{ testimony.description | safe }}    
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    {% endif %}

    <!-- Sección fija inferior solo para móvil -->
    <div id="mobileContactBar" class="mobile-contact-bar d-block d-md-none">
        <div class="container d-flex justify-content-between align-items-center">
            <span>🎁 Clase de Prueba</span>
            <button class="btn btn-lg" id="openContactForm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-course="{{ course.title }}">
                ¡Reserva Ahora!
            </button>
        </div>
    </div>





{% endblock content %}

{% block javascript %}

<script>
    //Este script detecta cuando el modal se abre o se cierra, y oculta o muestra la barra fija.
    document.addEventListener("DOMContentLoaded", function () {
        var mobileContactBar = document.getElementById("mobileContactBar");
        var contactModal = document.getElementById("exampleModal");
        var successModal = document.getElementById("successModal");
    
        function hideMobileBar() {
            if (mobileContactBar) {
                mobileContactBar.classList.add("d-none");
            }
        }
    
        function showMobileBar() {
            if (mobileContactBar) {
                mobileContactBar.classList.remove("d-none");
            }
        }
    
        // Ocultar la barra al abrir cualquiera de los modales
        if (contactModal) {
            contactModal.addEventListener("show.bs.modal", hideMobileBar);
            contactModal.addEventListener("hidden.bs.modal", showMobileBar);
        }
    
        if (successModal) {
            successModal.addEventListener("show.bs.modal", hideMobileBar);
            successModal.addEventListener("hidden.bs.modal", showMobileBar);
        }
    });
    

    //sube mas el icono de whatsapp
    document.addEventListener("DOMContentLoaded", function () {
        var whatsappIcon = document.querySelector(".whatsapp-icon");
        var url = window.location.href.toLowerCase();
        var keywords = ["salsa", "danza", "afro", "online", "particulares", "novios"];

        var shouldRaiseIcon = keywords.some(function(keyword) {
            return url.includes(keyword);
        });

        if (shouldRaiseIcon) {
            whatsappIcon.style.bottom = "80px"; // Ajusta según lo que necesites
        }
    });


    
    //mantiene el color del boton
    document.addEventListener("DOMContentLoaded", function () {
        var contactButton = document.getElementById("openContactForm");
    
        if (contactButton) {
            // Guardamos los estilos originales del botón al cargar la página
            var originalStyles = {
                backgroundColor: contactButton.style.backgroundColor,
                color: contactButton.style.color,
                border: contactButton.style.border,
                boxShadow: contactButton.style.boxShadow
            };
    
            // Restaurar estilos cuando el modal se cierra
            var modal = document.getElementById("exampleModal");
            if (modal) {
                modal.addEventListener("hidden.bs.modal", function () {
                    contactButton.style.backgroundColor = originalStyles.backgroundColor;
                    contactButton.style.color = originalStyles.color;
                    contactButton.style.border = originalStyles.border;
                    contactButton.style.boxShadow = originalStyles.boxShadow;
                });
            }
        }
    });
    
    

    document.addEventListener("DOMContentLoaded", function () {
        const videoWrapper = document.querySelector(".video-wrapper");
        const video = document.getElementById("mobileVideo");
        const playIcon = document.querySelector(".play-icon");

        if (videoWrapper && video && playIcon) {
            videoWrapper.addEventListener("click", function () {
                // Ocultar el ícono de reproducción
                playIcon.style.display = "none";
                // Mostrar el video y reproducirlo
                video.style.display = "block";
                video.play();
            });
        }
    });

    document.getElementById('submitForm_curso_detail').addEventListener('click', function () {
        var form = document.getElementById('leadForm_curso_detail');
        var processingMessage = document.getElementById('processingMessage_curso_detail');
        var thankYouMessage = document.getElementById('thankYouMessage_curso_detail');
        if (form.checkValidity()) {    
            var formData = new FormData(document.getElementById('leadForm_curso_detail'));
            processingOverlay_curso_detail.classList.remove('d-none');
            fetch('/create-lead/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            }).then(response => response.json()).then(data => {
                if (data.success) {
                    // Ocultar formulario y mostrar mensaje de agradecimiento
                    form.classList.add('d-none');
                    thankYouMessage.classList.remove('d-none');

                    // Preparar y abrir WhatsApp
                    var firstName = document.getElementById('name').value;
                    var lastName = document.getElementById('last_name').value;
                    var notes = document.getElementById('message').value;
                    var whatsappMessage = `Hola, me llamo ${firstName} ${lastName}. Estoy interesado en los cursos. ${notes}`;

                    var whatsappNumber = '51991337159'; // Reemplaza con el número de teléfono de WhatsApp deseado
                    var whatsappURL = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(whatsappMessage)}`;
                    console.log(whatsappURL)
                    window.open(whatsappURL, '_blank');


                } else {
                    alert('Error al crear el lead');
                }
            }).catch(error => {
                processingOverlay_curso_detail.classList.add('d-none'); // Ocultar el overlay
                console.error('Error:', error);
                alert('Ocurrió un error al enviar el formulario');
            }).finally(() => {
                // Ocultar mensaje de procesamiento y habilitar botón
                processingOverlay_curso_detail.classList.add('d-none');

            });
        } else {
            form.classList.add('was-validated');
        }
    });
    
</script>
{% endblock javascript %}

