{% extends '_base.html' %}
{% load static %}
{% block meta_robots %}
<meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}<title>Contacto | Cuban Groove | Clases de Baile</title>{% endblock title %}

{% block content %}

 

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center px-3 color-oran">Invitación</h6>
            </div>
            <div class="row g-5">
                <div class="container mt-5 text-center">
                    <h1 class="text-success">🎉 ¡Invitación Exitosa! 🎉</h1>
                    <p class="mt-3">Gracias, hemos registrado tu invitación correctamente. 🕺💃</p>
                    
                    <div class="mt-4">
                        <p class="text-muted">
                            <strong>💳 Último paso:</strong> Realiza el pago de 10 soles por Yape al número 
                            <span class="text-primary">991 337 159 (Lucero Coronado)</span> y envíanos el comprobante al WhatsApp. 📲
                        </p>
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{% static 'img/icons/yape-icon.png' %}" alt="Yape Icon" style="width: 60px; height: auto;">
                            <a href="https://wa.me/51933275831" target="_blank" class="btn btn-success ms-3">
                                Enviar Comprobante por WhatsApp
                            </a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->



{% endblock content %}
