{% extends '_base.html' %}
{% load static %}
{% block meta_robots %}
    <meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}<title>Políticas de Privacidad | Cuban Groove | Clases de Baile</title>{% endblock title %}

{% block content %}

    <!-- Privacy Policy Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5 color-cafe">Políticas de Privacidad y Protección de Datos Personales</h1>
            </div>
            <div class="row g-4">
                <section>
                    <h2>¿Cómo Recopilamos y Usamos Tu Información?</h2>
                
                    <p>Esta política describe cómo recopilamos, utilizamos y protegemos la información personal proporcionada a través de nuestro sitio web.</p>
                
                    <h3>1. Recopilación de Información</h3>
                    <p>Cuban Groove recopila información personal de los usuarios al interactuar con nuestros servicios, como inscripciones en cursos de baile, registros en el sitio web o participación en eventos.</p>
                    <p>Los datos personales que recopilamos incluyen:</p>
                    <ul>
                        <li>Nombre completo</li>
                        <li>Correo electrónico</li>
                        <li>Número de teléfono</li>
                        <li>Información de contacto</li>
                        <li>Preferencias de curso y nivel de experiencia</li>
                    </ul>
                
                    <h3>2. Uso de la Información</h3>
                    <p>Utilizamos la información personal para:</p>
                    <ul>
                        <li>Proporcionar y gestionar servicios de Cuban Groove, como cursos de baile.</li>
                        <li>Procesar registros para eventos y actividades.</li>
                        <li>Enviar comunicaciones sobre servicios, promociones y eventos.</li>
                        <li>Mejorar la experiencia del usuario y personalizar contenidos.</li>
                        <li>Realizar estudios de mercado y análisis.</li>
                    </ul>
                
                    <h3>3. Protección de los Datos Personales</h3>
                    <p>Implementamos medidas de seguridad para proteger los datos personales contra acceso no autorizado, pérdida o divulgación. Nos esforzamos por mantener la información segura en todo momento.</p>
                
                    <h3>4. Compartición de la Información</h3>
                    <p>No vendemos ni compartimos la información personal a terceros, salvo en los siguientes casos:</p>
                    <ul>
                        <li>Cuando lo requiera la ley o en respuesta a solicitudes legales.</li>
                        <li>Con consentimiento expreso del usuario.</li>
                    </ul>
                
                    <h3>5. Derechos de los Usuarios</h3>
                    <p>Tienes derecho a acceder, rectificar y cancelar tus datos personales. Para ejercer estos derechos, contacta a <strong>info@cubangrooveperu.com</strong>.</p>
                
                    <h3>6. Uso de Cookies y Tecnologías Similares</h3>
                    <p>El sitio web utiliza cookies para mejorar la navegación y analizar el uso del sitio. Puedes configurar tu navegador para bloquear cookies, aunque esto podría afectar la funcionalidad del sitio.</p>
                
                    <h3>7. Modificaciones a la Política de Privacidad</h3>
                    <p>Cuban Groove puede modificar esta política en cualquier momento. Cualquier cambio se publicará en esta página, y recomendamos revisar periódicamente nuestra política.</p>

                    <h3>8. Contacto</h3>
                    <p>Para preguntas sobre nuestra política de privacidad, contacta a <strong>info@cubangrooveperu.com</strong>.</p>

                </section>
            </div>
        </div>
    </div>
    <!-- Privacy Policy End -->

{% endblock content %}
