{% extends '_base.html' %}
{% load static %}
{% block meta_robots %}
    <meta name="robots" content="noindex, follow">
{% endblock %}
{% block title %}<title>Términos y Condiciones | Cuban Groove | Clases de Baile</title>{% endblock title %}

{% block content %}

    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5 color-cafe">Términos y Condiciones - Cuban Groove</h1>
            </div>
            <div class="row g-4">
                <section>
                    <h2>Términos y Condiciones Generales</h2>
                
                    <p>Esta sección establece los Términos y Condiciones Generales de Uso del sitio web de Cuban Groove (en adelante, el "Sitio Web") para los usuarios interesados en clases de baile en Lima.</p>
                
                    <h3>1. Objeto del Sitio Web</h3>
                    <p>El objetivo del Sitio Web es servir como una plataforma de información y registro para personas interesadas en inscribirse en los cursos de baile, como Salsa y Timba, ofrecidos por Cuban Groove.</p>
                
                    <h3>2. Utilización del Sitio Web</h3>
                    <p>Los usuarios se comprometen a no utilizar el Sitio Web con fines ilícitos, delictivos o ilegales, contrarios a lo establecido en estos Términos y Condiciones, a la ley peruana, o que puedan perjudicar los derechos e intereses de terceros. Además, no deben realizar acciones que puedan dañar, sobrecargar o inutilizar el Sitio Web, impidiendo su uso normal.</p>
                
                    <h3>3. Contenido del Sitio Web</h3>
                    <p>Los contenidos del Sitio Web, incluyendo textos, información, gráficos, imágenes, logotipos, marcas, software, bases de datos, diseños y otros materiales (en adelante, el "Contenido"), están protegidos por las leyes de derechos de autor, patentes, marcas, y otros derechos de propiedad intelectual aplicables. Todo el contenido es propiedad de Cuban Groove.</p>
                    <p>Los usuarios no pueden copiar, adaptar o comercializar el código de programación ni ningún contenido del Sitio Web sin autorización, ya que esto podría estar penalizado por la legislación vigente.</p>
                
                    <h4>3.1 Uso permitido del Sitio Web</h4>
                    <p><strong>Reglas generales:</strong> Los usuarios tienen prohibido utilizar el Sitio Web en violación de la legislación aplicable o de forma que infrinja los derechos de terceros, tales como la confidencialidad, el honor, la privacidad, y la imagen.</p>
                
                    <p><strong>Reglas de seguridad del Sitio Web:</strong> Está prohibido que los usuarios violen o intenten violar la seguridad del Sitio Web, incluyendo, pero no limitándose a:</p>
                    <ul>
                        <li>Acceder a datos que no están destinados al usuario o entrar en cuentas sin autorización.</li>
                        <li>Evaluar o probar la vulnerabilidad de sistemas o redes sin la debida autorización.</li>
                        <li>Intentar interrumpir el servicio a cualquier usuario, anfitrión o red mediante ataques como saturaciones o denegaciones de servicio.</li>
                        <li>Enviar correos electrónicos no solicitados (spam) con fines comerciales o promocionales.</li>
                        <li>Manipular cabeceras de datos en correos electrónicos o mensajes de foro.</li>
                    </ul>
                    <p>Las violaciones de seguridad del sistema o red pueden constituir delitos penales y dar lugar a responsabilidades civiles. Cuban Groove investigará y tomará acciones legales en caso de infracciones.</p>
                
                    <p>Cuban Groove prohíbe específicamente las siguientes acciones:</p>
                    <ul>
                        <li>Publicar información biográfica falsa, incompleta o inexacta.</li>
                        <li>Utilizar cualquier mecanismo que interfiera en el correcto funcionamiento del Sitio Web.</li>
                        <li>Usar herramientas distintas de las provistas por Cuban Groove para buscar o navegar en el Sitio Web.</li>
                        <li>Intentar descompilar o obtener el código fuente de cualquier software del Sitio Web.</li>
                    </ul>
                
                    <h3>4. Propiedad Intelectual</h3>
                    <p>El usuario se compromete a no utilizar de ninguna forma las marcas, patentes, diseños, logotipos, nombres comerciales, derechos de autor, nombres de dominio, "know-how" y demás derechos de propiedad intelectual o industrial de Cuban Groove sin la debida autorización.</p>
                </section>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% endblock content %}
